build/bin
node_modules
frontend/dist
frontend/wailsjs/runtime
frontend/wailsjs/go
.claude
dist
site
build/windows/*.pfx
build/windows/*.key
build/windows/*.crt
build/dmg-builder/node_modules
build/dmg-builder/package-lock.json
e2e_tests/__pycache__/*
report.html
docs/version.json